@import "./Switcher.css";
@import "./Radio.css";

.navbar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    width: 240px;
    min-width: 240px;
    background-color: #2f9e73;
}

@media (max-width: 767px) {
    .navbar {
        width: 100%;
    }
}

.navbar__item {
    justify-content: space-between;
    padding: 1rem;
    border: 2px solid #fdd98a;
}

.navbar__item-title {
    padding: 0 0.25rem;
}

.navbar__switcher {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar__animation-submenu {
    transition: all .3s;
    height: 50px;
    overflow: hidden;
    padding: 8px 0;
    opacity: 1;
}

.navbar__animation-submenu--hidden {
    height: 0px;
    padding: 0;
    opacity: 0;
}

select {
    padding: 4px;
    background-color: #91b357;
    width: 100%;
    outline: none;
}

label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
